<h1>Tickets</h1>
<div style="text-align: center;">
  <button mat-button (click)="refresh()">Refresh</button> <button mat-button *ngIf="!isAdmin" (click)="exportPDF()">Export to PDF or CSV</button>
</div>

<div *ngIf="defaultMessage == 1">
    <br><br><br>
    <h1>Hello {{user.name}}, seems this is your first time, please create your support ticket and we will be more than glad to respond ASAP. <mat-icon>thumb_up</mat-icon></h1>
</div>

<mat-accordion class="example-headers-align">

  <mat-expansion-panel *ngFor="let ticket of tickets">
    <mat-expansion-panel-header color="primary">
      <mat-panel-title>
        {{ticket.title}}
      </mat-panel-title>
      <mat-panel-description>
        <span style="float: right;">
          Ticket No: #{{ticket.ticketNo}} | created at {{ticket.createdAt | date: 'medium'}}

        </span>

      <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>
      {{ticket.body}}
    </p>

    <h2>Comments</h2>
    <hr>
    <div>
      <p *ngFor="let item of ticket.comments">
        {{item.body}} <br> <br>

        <span style="font-weight:bold">{{item.status}}</span> : <mat-icon>chat</mat-icon>
        <span>Created by {{item.createdBy}} at {{item.createdAt | date: 'medium'}}</span>


      </p>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle>
            Add Comment
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

          <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="leaveComment"></textarea>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button (click)="addComment(ticket.id)" *ngIf="!ticket.isClose">ADD COMMENT</button>

        </mat-card-actions>
      </mat-card>
    </div>
    <mat-action-row>
      <h3 style="font-weight: bold;" *ngIf="ticket.isClose">This ticket is closed, only available for read only.</h3>
      <button mat-button *ngIf="!ticket.isClose" (click)="closeTicket(ticket.id)">Close this ticket</button>
    </mat-action-row>
  </mat-expansion-panel>




</mat-accordion>
