.expanded-toolbar {
  justify-content: space-between;
  align-items: center;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
