<mat-toolbar color="primary">
  <span>
    <button mat-button routerLink="/">Customer Support Ticketing App</button>
  </span>

  <span class="example-fill-remaining-space"></span>


  <button mat-button routerLink="/login">
    <mat-icon>power_settings_new</mat-icon>
    LOGIN
  </button>
  <button mat-button routerLink="/register">
    <mat-icon>perm_identity</mat-icon>
    SIGN UP
  </button>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Create new Ticket</button>
  <button mat-menu-item>View Tickets</button>
  <button mat-menu-item>Report</button>
  <button mat-menu-item>Sign out</button>
</mat-menu>


<router-outlet></router-outlet>
